<h1>Displaying Tweets posted by @Virtue</h1>


<% Twitter.user_timeline("Virtue").each do |tweet| %>
	<li>
	<%= tweet.text %>
	<small>
	<%= link_to tweet.created_at, "http://twitter.com/#!/virtue/status/"+tweet.id_str %>
	</small>
	</li>
<% end %>
<br />

<h1>Post Tweet on this page to @TestingRails</h1>
